<a href="https://colab.research.google.com/github/Shreya549/Stonks/blob/main/Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Installing Pmdarima**

In [1]:
!pip install pmdarima

Requirement already satisfied: pmdarima in /usr/local/lib/python3.6/dist-packages (1.7.1)
Requirement already satisfied: setuptools<50.0.0 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (49.6.0)
Requirement already satisfied: statsmodels<0.12,>=0.11 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.11.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.18.5)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.24.3)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.16.0)
Requirement already satisfied: Cython<0.29.18,>=0.29 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.29.17)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.4.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from statsmodels<0.12,>=0.11->pmdarima) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pmdarima) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pmdarima) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5->statsmodels<0.12,>=0.11->pmdarima) (1.15.0)

**Importing the libraries**

In [2]:
import lightgbm as lgb
import numpy as np
import pandas as pd

from fbprophet import Prophet
from matplotlib import pyplot as plt
from pmdarima import auto_arima
from sklearn.metrics import mean_absolute_error, mean_squared_error

myfavouritenumber = 13
seed = myfavouritenumber
np.random.seed(seed)

**Reading the dataset and setting the index**

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Shreya549/Stonks/main/NIFTY50_all.csv")
df.set_index("Date", drop=False, inplace=True)
df.head()

                  Date      Symbol  ... Deliverable Volume  %Deliverble
Date                                ...
2007-11-27  2007-11-27  MUNDRAPORT  ...          9859619.0       0.3612
2007-11-28  2007-11-28  MUNDRAPORT  ...          1453278.0       0.3172
2007-11-29  2007-11-29  MUNDRAPORT  ...          1069678.0       0.2088
2007-11-30  2007-11-30  MUNDRAPORT  ...          1260913.0       0.2735
2007-12-03  2007-12-03  MUNDRAPORT  ...           816123.0       0.2741

[5 rows x 15 columns]

In [4]:
c = df.Symbol.value_counts()
rows = c[c>2500].index
df.shape

(230104, 15)

In [5]:
df.Symbol = df.Symbol.apply(lambda x : x if x in rows else np.nan)

In [6]:
df = df.dropna()
df

                  Date      Symbol  ... Deliverable Volume  %Deliverble
Date                                ...
2011-06-01  2011-06-01  ASIANPAINT  ...            89136.0       0.4634
2011-06-02  2011-06-02  ASIANPAINT  ...           169251.0       0.7995
2011-06-03  2011-06-03  ASIANPAINT  ...            45782.0       0.5492
2011-06-06  2011-06-06  ASIANPAINT  ...            20367.0       0.4400
2011-06-07  2011-06-07  ASIANPAINT  ...            27403.0       0.3341
...                ...         ...  ...                ...          ...
2020-09-24  2020-09-24        ZEEL  ...         24361908.0       0.3192
2020-09-25  2020-09-25        ZEEL  ...          6573633.0       0.1068
2020-09-28  2020-09-28        ZEEL  ...          4578621.0       0.1344
2020-09-29  2020-09-29        ZEEL  ...          6072005.0       0.1348
2020-09-30  2020-09-30        ZEEL  ...          8507629.0       0.2726

[97800 rows x 15 columns]

In [7]:
df.shape

(97800, 15)

**Feature Engineering**

In [8]:

df.reset_index(drop=True, inplace=True)
lag_features = ["High", "Low", "Volume", "Turnover", "Trades"]
window1 = 3
window2 = 7
window3 = 30

df_rolled_3d = df[lag_features].rolling(window=window1, min_periods=0)
df_rolled_7d = df[lag_features].rolling(window=window2, min_periods=0)
df_rolled_30d = df[lag_features].rolling(window=window3, min_periods=0)

df_mean_3d = df_rolled_3d.mean().shift(1).reset_index().astype(np.float32)
df_mean_7d = df_rolled_7d.mean().shift(1).reset_index().astype(np.float32)
df_mean_30d = df_rolled_30d.mean().shift(1).reset_index().astype(np.float32)

df_std_3d = df_rolled_3d.std().shift(1).reset_index().astype(np.float32)
df_std_7d = df_rolled_7d.std().shift(1).reset_index().astype(np.float32)
df_std_30d = df_rolled_30d.std().shift(1).reset_index().astype(np.float32)

for feature in lag_features:
    df[f"{feature}_mean_lag{window1}"] = df_mean_3d[feature]
    df[f"{feature}_mean_lag{window2}"] = df_mean_7d[feature]
    df[f"{feature}_mean_lag{window3}"] = df_mean_30d[feature]
    
    df[f"{feature}_std_lag{window1}"] = df_std_3d[feature]
    df[f"{feature}_std_lag{window2}"] = df_std_7d[feature]
    df[f"{feature}_std_lag{window3}"] = df_std_30d[feature]

df.fillna(df.mean(), inplace=True)

df.set_index("Date", drop=False, inplace=True)
df.head()

                  Date      Symbol  ... Trades_std_lag7  Trades_std_lag30
Date                                ...
2011-06-01  2011-06-01  ASIANPAINT  ...    20467.808594      25287.337891
2011-06-02  2011-06-02  ASIANPAINT  ...    20467.808594      25287.337891
2011-06-03  2011-06-03  ASIANPAINT  ...     3517.856201       3517.856201
2011-06-06  2011-06-06  ASIANPAINT  ...     3308.957031       3308.957031
2011-06-07  2011-06-07  ASIANPAINT  ...     3109.750977       3109.750977

[5 rows x 45 columns]

In [9]:
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")
df["month"] = df.Date.dt.month
df["week"] = df.Date.dt.week
df["day"] = df.Date.dt.day
df["day_of_week"] = df.Date.dt.dayofweek
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning:

Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

                 Date      Symbol Series  ...  week  day  day_of_week
Date                                      ...
2011-06-01 2011-06-01  ASIANPAINT     EQ  ...    22    1            2
2011-06-02 2011-06-02  ASIANPAINT     EQ  ...    22    2            3
2011-06-03 2011-06-03  ASIANPAINT     EQ  ...    22    3            4
2011-06-06 2011-06-06  ASIANPAINT     EQ  ...    23    6            0
2011-06-07 2011-06-07  ASIANPAINT     EQ  ...    23    7            1

[5 rows x 49 columns]

In [10]:
from sklearn.decomposition import PCA

In [11]:
pca = PCA(random_state=42, n_components=2)

In [12]:
df_pca = pca.fit_transform(df.drop(labels=["Date", "VWAP", "Symbol", "Series", "month",	"week",	"day",	"day_of_week"], axis = 1))
df_pca.shape

(97800, 2)

In [13]:
dfpca = pd.DataFrame(df_pca)
dfpca.index = df.index
dfpca = dfpca.join(df[["Date","VWAP", "Symbol", "Series", "month",	"week",	"day",	"day_of_week"]])

In [14]:
dfpca.head()

                       0             1       Date  ...  week day day_of_week
Date                                               ...
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2

[5 rows x 10 columns]

In [15]:
dfpca.rename(columns={0: "Feature1", 1: "Feature2"}, inplace = True)
dfpca.head()

                Feature1      Feature2       Date  ...  week day day_of_week
Date                                               ...
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2
2011-06-01 -7.446261e+13 -1.173779e+14 2011-06-01  ...    22   1           2

[5 rows x 10 columns]

In [16]:
df_train = dfpca[dfpca.Date < "2019"]
df_valid = dfpca[dfpca.Date >= "2019"]

exogenous_features = ["Feature1", "Feature2"]
print(exogenous_features)

['Feature1', 'Feature2']

In [17]:
params = {"objective": "regression"}

dtrain = lgb.Dataset(df_train[exogenous_features], label=df_train.VWAP.values)
dvalid = lgb.Dataset(df_valid[exogenous_features])

model_lgb = lgb.train(params, train_set=dtrain)

forecast = model_lgb.predict(df_valid[exogenous_features])
df_valid["Forecast_LightGBM"] = forecast

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
# model = auto_arima(df_train.VWAP, exogenous=df_train[exogenous_features], 
#                    trace=True, error_action="ignore", suppress_warnings=True)
# model.fit(df_train.VWAP, exogenous=df_train[exogenous_features])

# forecast = model.predict(n_periods=len(df_valid), exogenous=df_valid[exogenous_features])
# df_valid["Forecast_ARIMAX"] = forecast

In [ ]:
# model_fbp = Prophet()
# for feature in exogenous_features:
#     model_fbp.add_regressor(feature)

# model_fbp.fit(df_train[["Date", "VWAP"] + exogenous_features].rename(columns={"Date": "ds", "VWAP": "y"}))

# forecast = model_fbp.predict(df_valid[["Date", "VWAP"] + exogenous_features].rename(columns={"Date": "ds"}))
# df_valid["Forecast_Prophet"] = forecast.yhat.values

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.